@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .mobile-contacts-tel {
    font-weight: 700;
    font-size: 36px;
  }
  .mobile-menu-social-list {
    gap: 56px;
  }
  .hero-title {
    font-size: 36px;

    width: 320px;
  }
  .about-item {
    max-width: 396px;
  }
  .footer-form-input {
    width: 398px;
  }
  .projects-meny-item {
    width: 396px;
  }
  .modal {
    width: 392px;
  }
}
@media screen and (max-width: 767px) {
  .about-header {
    text-align: center;
  }
  .header-menu-wrapper {
    display: none;
  }

  .header-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu-open-icon {
    fill: var(--title-text-color);
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: scroll;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-time),
      visibility var(--transition-time);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  .mobile-menu-btn {
    position: absolute;

    cursor: pointer;
    top: 24px;
    right: 16px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 284px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;

    color: var(--title-text-color);
  }

  .mobile-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 48px;
  }

  .mobile-contacts-tel {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.1;

    text-transform: capitalize;

    color: #4d5ae5;
  }
  .mobile-contacts-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: var(--primary-text-color);
  }

  .mobile-menu-social-list {
    display: flex;

    justify-content: flex-start;
    gap: 24px;
  }
  .mobile-menu-social-item {
    width: 40px;
    height: 40px;
    transition: background-color var(--transition-time);
  }
  .mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color var(--transition-time);
  }
  .mobile-menu-social-item :hover,
  .mobile-menu-social-item:focus {
    background-color: #404bbf;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .footer-header {
    text-align: center;
  }
  .footer-social-list {
    align-items: center;
  }
  .footer-subs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .filters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    max-width: 263px;
    column-gap: 16px;
    row-gap: 24px;

    margin-bottom: 48px;
  }
  .projects-menu-list {
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .about-text {
    font-weight: 500;
  }

  .prod-sect {
    display: none;
  }
}
